<html>
<h1>Upload a Photo</h1>
<form method="post" action="/upload" enctype="multipart/form-data">
  <input type="file" name="file">
  <br>
  <label>Caption</label>
  <input type="text" name="caption">
  <br>
  <input type="submit" value="Upload">
</form>
</html>

